<%= form_for post do |f| %>
  <div class="container">
    <%= render 'shared/error_messages' %>
      
      <div class="form-group">
          <%= f.label "画像をアップロード" %>
          <%= f.file_field :image_id, class: 'form-control' %>
      </div>
      <div class="form-group">
          <%= f.label :name, '名前' %>
          <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
          <%= f.text_area :body, class: 'form-control', placeholder: "キャプションを入力...", rows: 5 %>
      </div>
      <%= link_to "キャンセル", root_path, class: "btn post-form-btn mr-2", style: "border: none;" %>
      <%= f.submit 'シェア', class: 'btn btn-primary' %>
  </div>
    
<% end %>

