<!-- Page Content -->
<div class="container">
  <% if flash[:success] %>
    <div class="alert alert-danger"><%= flash[:success] %></div>
  <% end %>
  <div class="row mt-4">
    
    <% @posts.each do |post| %>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <%= link_to post_path(post) do %>
          <% if post.image_id.present? %>
            <%= image_tag attachment_url(post, :image, :fill, 500, 300, format: "jpg"), class: 'top-img' %>
          <% else %>
            <%= image_tag 'gana.jpg', :size =>'240x160', style: 'object-fit: cover;' %>
          <% end %>
        <% end %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0"><%= post.name %></h5>
          <div class="card-text text-black-50"><%= post.body %></div>
          <div class="card-text text-black-50">by <%= post.user.name %></div>
          <div class="card-text text-black-50"><%= post.created_at.strftime('%Y年 %m月 %d日 %H時 %m分 ') %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- /.row -->

</div>

<!-- /.container -->

<%= paginate @posts %>

<footer class="mt-5">
  <p class="text-center">Copyright<i class="far fa-copyright"></i>2020 RYOTA KOBAYASHI, All Rights Reserved.</p>
</footer>